# Stripe Keys
STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...

# SendPulse API Credentials
SENDPULSE_CLIENT_ID=
SENDPULSE_CLIENT_SECRET=
SENDPULSE_ADDRESS_BOOK_ID=
SENDPULSE_FROM_EMAIL=info@ayo-llc.com
SENDPULSE_FROM_NAME="AYO LLC"
SENDPULSE_TO_EMAIL=

# Private Webinar Meeting Access
WEBINAR_MEETING_LINK=https://zoom.us/j/your-private-meeting-link
WEBINAR_MEETING_ID=123 456 7890
WEBINAR_MEETING_PASSCODE=123456
